#Ignore Visual Studio intermediate files
ipch/
obj/
bin/
Debug/*
!Debug/*.xml
#!Debug/*.exe
Thumbs.db

#Visual Studio Code Browsing Database (big file)
*.sdf
*.suo

Release/*
!Release/*.xml
#!Release/*.exe

#gcc *.o directory
*.o
*.exe

#UML Documentation Tool "Ideas Modeler", ignore backup files
*.simp.bak
